<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anvaishy.easymedc_user_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyMedC_User_App"
        tools:targetApi="31">
        <activity
            android:name=".view.MedicalPassRequestListActivity"
            android:exported="false" />
        <activity
            android:name=".view.DoctorTimingActivity"
            android:exported="false" />
        <activity
            android:name=".view.NavigationDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.SingleDocumentUpload"
            android:exported="false" />
        <activity
            android:name=".view.DocumentUploadList"
            android:exported="false" />
        <activity
            android:name=".view.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".view.StudentProfile"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.GoogleSignin"
            android:exported="false" />
    </application>

</manifest>